@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-regular.otf") format("opentype");
  font-weight:normal;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-light.otf") format("opentype");
  font-weight:light;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-bold.otf") format("opentype");
  font-weight:bold;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-italic.otf") format("opentype");
  font-style:italic
}

@keyframes scaleImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scalebackground {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.08);
  }
}
/* fade in elements on enter viewport */
.fade-element {
  opacity: 0;
  margin-top:-20px;
  transition: 0.9s ease-in-out;
}

.fade-in {
  opacity: 1;
 margin-top:0px;
}

/* menu fix for no underline on last element */
.bm-item-list a:last-child {border-bottom:none !important;}
.bm-item-list a.active {font-weight:bold; background:rgba(255, 255, 255, 0.10);}
.bm-item-list a span { margin: 0px 1em; padding: 14px 10px; display: block; }
.bm-item-list a{ color: #fff; font-size: 20px; border-bottom: 1px solid #fff; margin: 0px 20px;}

/* fancy swiper */
#fancyswiper .item.active {opacity:1; transition:1s}
#fancyswiper .item {opacity:0; transition:1s}
#fancyswiper .curvedbg {border-radius:0px 0px 300px 0px; transform:rotate(320deg);border-radius: 0px 0px 2000px 0px; border-right: 80px solid #75cd57; border-bottom: 80px solid #75cd57;}
#fancyswiper .custom-navigation{ position: absolute;top: 700px;left: 10%;} 
#fancyswiper .swiper-slide-first.swiper-slide-active {  opacity: 1; /* First slide should be fully visible without fading */ }
#fancyswiper  .swiper-slide {  opacity: 0; /* Initial opacity for the fading effect */transition: opacity 1s ease-in-out; /* Smooth transition for the fading effect */ }
#fancyswiper  .swiper-slide-active {opacity: 1; /* Active slide should be fully visible */}
#fancyswiper  #fancyswiper  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {display:none;}
#fancyswiper .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display:none;}
#fancyswiper  .swiper-button-prev, .swiper-button-next {width:auto !important; left:auto !important; right:auto !important;}
#fancyswiper ul {list-style:disc; padding-left: 30px;}
#fancyswiper ol {list-style: decimal; padding-left: 30px;}
#fancyswiper li {padding-top:10px;}

/* sewage */
#fancyswiper .sewage ul {margin-top: 150px;}
.curvedbg.sewage {
  border-bottom: 80px solid #404041 !important;
  border-right: 80px solid #404041 !important;
}
img.smallimage1.sewage, img.smallimage2.sewage ,img.smallimage3.sewage {
  display: none;
}

/* projects */
#projects .swiper-slide {
    opacity: 0.5;
    transition:0.1s;
    filter: blur(4px);
}
#projects .swiper-slide-active {
  opacity: 1;
  transition:0.2s;
  filter: blur(0px);
}
#projects .custom-navigation{ z-index:40} 
#projects  .swiper-button-prev:after, #projects .swiper-rtl .swiper-button-next:after {display:none;}
#projects .swiper-button-next:after, #projects .swiper-rtl .swiper-button-prev:after {display:none;}
#projects  .swiper-button-prev, #projects .swiper-button-next {width:auto !important; left:auto !important; right:auto !important;}

/* homepage */
/* swiper effects */
#homeswiper .swiper-slide-active #swiperimage { transform-origin: center;
  transform: scale(1);
  animation: scalebackground 5s ease-in-out forwards; 
  animation-delay: 0s; display:Block !important}

  h3#orpstory:before, h3#orpstory:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 47%;
    height: 2px;
    content: '\a0';
    background-color: #A0A0A0;
}
h3#orpstory:before {
    margin-left: -50%;
    text-align: right;
}
h3#orpstory:after {margin-left:3%}
/* video player */
#orpstory .video-react-big-play-button {
  display: none;
}
#orpstory .video-container {
  min-height: 300px; /* Set your desired minimum height */
  overflow: hidden; /* Hide any overflow beyond the container */
  display: flex;
  justify-content:center; /* Align the video to the right */
  align-items: center; 
}
#orpstory .video-react {
  margin-left: auto; /* Push the video to the right */
  transition: margin-left 0.5s; /* Add a smooth transition effect */
}
#orpstory .video-react-video {
  width: 100%;
}

/* Ensure the video fills its container width */
#orpstory .video-react .video-react-control-bar {
  width: 100%;
}

#orpstory video.video-react-video {
  clip-path: inset(3px 3px);
}

/* styling pages */
.mold svg.text-\[\#D9D9D9\]:hover {color: #fff;}
.soil svg.text-\[\#D9D9D9\]:hover {color: #404041;}

#fancyswiper .bg-cover.bg-right.active { transform-origin: center;
  transform: scale(1);
  animation: scalebackground 7s ease-in-out forwards; 
  animation-delay: 0s;}

.smallimage1 { transform-origin: center;
  transform: scale(0);
  animation: scaleImage 0.6s ease-in-out forwards; 
  animation-delay: 0s;}
.smallimage2 { transform-origin: center;
 transform: scale(0);
 animation: scaleImage 0.6s ease-in-out forwards; 
 animation-delay: 0.4s;}
.smallimage3 { transform-origin: center;
  transform: scale(0);
  animation: scaleImage 0.6s ease-in-out forwards; 
  animation-delay: 0.8s;}

  @media only screen and (max-width:1279px){
  #fancyswiper .custom-navigation{left: 0%;} 
}

  @media only screen and (max-width:1024px){
    .navigate .item {display:none}
   .navigate .item.active {display:block}
  }

  @media only screen and (max-width:640px){
    #fancyswiper .sewage .cust-sw {top:180px}
  #fancyswiper .sewage ul {margin-top: 50px;}
}