@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-regular.otf") format("opentype");
  font-weight:normal;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-light.otf") format("opentype");
  font-weight:light;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-bold.otf") format("opentype");
  font-weight:bold;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-italic.otf") format("opentype");
  font-style:italic
}

@keyframes scaleImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scalebackground {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.08);
  }
}

@media only screen and (min-width: 1280px){
  /* soil page */
@keyframes top-to-mid {
  from {top: 170px; left:870px; width:191px; height:191px}
  to {top: 408px; left:820px; width:218px; height:218px}
}
@keyframes mid-to-active {
  from {top: 408px; left:820px; width:218px; height:218px}
  to {top: 665px; left:660px; width:304px; height:304px}
}
@keyframes active-to-top {
  from {top: 665px; left:660px; width:304px; height:304px}
  to {top: 170px; left:870px; width:191px; height:191px}
}
    /* end soil page anims */

     /* mold page */
@keyframes mold-top-to-mid {
  from {top: 170px; left:705px; width:191px; height:191px}
  to {top: 390px; left:830px; width:218px; height:218px}
}
@keyframes mold-mid-to-active {
  from {top: 390px; left:830px; width:218px; height:218px}
  to {top: 675px; left:840px; width:304px; height:304px}
}
@keyframes mold-active-to-top {
  from {top: 675px; left:840px; width:304px; height:304px}
  to {top: 170px; left:705px; width:191px; height:191px}
}
    /* end mold page anims */
}

@media only screen and (min-width: 1024px) and (max-width:1279px){
   /* soil page */
  @keyframes top-to-mid {
    from {top: 170px; left:645px; width:191px; height:191px}
    to {top: 408px; left:600px; width:218px; height:218px}
  }
  @keyframes mid-to-active {
    from {top: 408px; left:600px; width:218px; height:218px}
    to {top: 665px; left:440px; width:304px; height:304px}
  }
  @keyframes active-to-top {
    from {top: 665px; left:440px; width:304px; height:304px}
    to {top: 170px; left:645px; width:191px; height:191px}
  }
      /* end soil page anims */

         /* Mold page */
         @keyframes mold-top-to-mid {
          from {top: 170px; left:505px; width:191px; height:191px}
          to {top: 390px; left:630px; width:218px; height:218px}
        }
        @keyframes mold-mid-to-active {
          from {top: 390px; left:630px; width:218px; height:218px}
          to {top: 675px; left:640px; width:304px; height:304px}
        }
        @keyframes mold-active-to-top {
          from {top: 675px; left:640px; width:304px; height:304px}
          to {top: 170px; left:505px; width:191px; height:191px}
  }
      /* end mold page anims */
  }

  @media only screen and (min-width: 640px) and (max-width:1023px){
     /* soil page */
    @keyframes top-to-mid {
      from {top: 170px; left:445px; width:191px; height:191px}
      to {top: 408px; left:400px; width:218px; height:218px}
    }
    @keyframes mid-to-active {
      from {top: 408px; left:400px; width:218px; height:218px}
      to {top: 665px; left:240px; width:304px; height:304px}
    }
    @keyframes active-to-top {
      from {top: 665px; left:240px; width:304px; height:304px}
      to {top: 170px; left:445px; width:191px; height:191px}
    }
    /* end soil page anims */

         /* mold page */
         @keyframes mold-top-to-mid {
          from {top: 170px; left:325px; width:191px; height:191px}
          to {top: 390px; left:450px; width:218px; height:218px}
        }
        @keyframes mold-mid-to-active {
          from {top: 390px; left:450px; width:218px; height:218px}
          to {top: 675px; left:460px; width:304px; height:304px}
        }
        @keyframes mold-active-to-top {
          from {top: 675px; left:460px; width:304px; height:304px}
          to {top: 170px; left:325px; width:191px; height:191px}
  }
        /* end mold page anims */
    }


    @media only screen and (min-width: 540px) and (max-width:640px){
      /* soil page */
     @keyframes top-to-mid {
      from {top: 590px;left:650px;width:160px; height:160px}
           to {top: 385px; left:350px; width:160px; height:160px}
     }
     @keyframes mid-to-active {
      from {top: 385px; left:350px; width:160px; height:160px}
      to {top: 335px; left:65px;  width:218px; height:218px}
     }
     @keyframes active-to-top {
      from {top: 335px;left:65px; width:218px; height:218px}
      to {top: 485px; left:-180px; width:160px; height:160px}
     }
     /* end soil page anims */
 
          /* mold page */
          @keyframes mold-top-to-mid {
           from {top: 590px;left:650px;width:160px; height:160px}
           to {top: 385px; left:350px; width:160px; height:160px}
         }
         @keyframes mold-mid-to-active {
           from {top: 385px; left:350px; width:160px; height:160px}
           to {top: 335px; left:65px;  width:218px; height:218px}
         }
         @keyframes mold-active-to-top {
           from {top: 335px;left:65px; width:218px; height:218px}
           to {top: 485px; left:-180px; width:160px; height:160px}
   }
         /* end mold page anims */
     }

     @media only screen and (min-width: 300px) and (max-width:540px){
      /* soil page */
     @keyframes top-to-mid {
      from {top: 470px;left:550px;width:120px; height:120px}
           to {top: 375px; left:220px; width:120px; height:120px}
     }
     @keyframes mid-to-active {
      from {top: 375px; left:220px; width:120px; height:120px}
      to {top: 385px; left:25px;  width:170px; height:170px}
     }
     @keyframes active-to-top {
      from {top: 385px; left:25px; width:170px; height:170px}
      to {top: 515px; left:-150px; width:120px; height:120px}
     }
     /* end soil page anims */
 
          /* mold page */
          @keyframes mold-top-to-mid {
           from {top: 470px;left:550px;width:120px; height:120px}
           to {top: 375px; left:220px; width:120px; height:120px}
         }
         @keyframes mold-mid-to-active {
           from {top: 375px; left:220px; width:120px; height:120px}
           to {top: 385px; left:25px;  width:170px; height:170px}
         }
         @keyframes mold-active-to-top {
           from {top: 385px; left:25px; width:170px; height:170px}
           to {top: 515px; left:-150px; width:120px; height:120px}
   }
         /* end mold page anims */
     }

.smallimg.soil.queue-top {  animation: active-to-top 0.5s ease-in-out forwards; 
  animation-delay: 0s; display:Block !important}
.smallimg.soil.queue-mid {animation: top-to-mid 0.5s ease-in-out forwards; 
  animation-delay: 0s; display:Block !important}
.smallimg.soil.active {animation: mid-to-active 0.5s ease-in-out forwards; 
  animation-delay: 0s; display:Block !important}

  #fancyswiper .curvedbg.mold {
    transform: rotate(215deg);
    border-radius: 12000px 150px 5000px 25000px;
    border-left: 80px solid #75cd57;
    border-top: 80px solid #75cd57;
    width: 1650px;
    height: 1400px;
    left: -500px;
}

#fancyswiper .curvedbg.sewage {
  transform: rotate(275deg);
  border-radius: 0px 0px 2000px 2000px;
  border-top: 80px solid #75cd57;
  border-left: 80px solid #75cd57;
  left: -820px;
}
.swiper.swiper-initialized.swiper-horizontal.sewage{
  width: 730px;
}
.swiper.swiper-initialized.swiper-horizontal.sewage div {
  padding-right: 0px;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}
.mobile-nav {display:none;}
.nav-projects {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
.nav-projects.swiper-button-disabled svg {color:#acacac !important;}
.swiper.swiper-initialized.swiper-horizontal.sewage div ul {padding-top:120px; margin-left:20px}
.swiper.swiper-initialized.swiper-horizontal.sewage div ul li {padding-top:30px}
img.rounded-full.border-4.lg\:border-8.border-\[\#73CD4A\].overflow-hidden {
  scale: 1.3;
}
  .smallimg.mold.queue-top {  animation: mold-active-to-top 0.5s ease-in-out forwards; 
    animation-delay: 0s; display:Block !important}
    .smallimg.mold.queue-mid {animation: mold-top-to-mid 0.5s ease-in-out forwards; 
    animation-delay: 0s; display:Block !important}
    .smallimg.mold.active {animation: mold-mid-to-active 0.5s ease-in-out forwards; 
    animation-delay: 0s; display:Block !important}
/* fade in elements on enter viewport */
.fade-element {
  opacity: 0;
  margin-top:-20px;
  transition: 0.9s ease-in-out;
}

.fade-in {
  opacity: 1;
 margin-top:0px;
}

/* menu fix for no underline on last element */
.bm-item-list a:last-child {border-bottom:none !important;}
.bm-item-list a.active {font-weight:bold; background:rgba(255, 255, 255, 0.10);}
.bm-item-list a span { margin: 0px 1em; padding: 14px 10px; display: block; }
.bm-item-list a{ color: #fff; font-size: 20px; border-bottom: 1px solid #fff; margin: 0px 20px;}

/* fancy swiper */
#fancyswiper .item.active {opacity:1; transition:1s}
#fancyswiper .item {opacity:0; transition:1s}
#fancyswiper .curvedbg {border-radius:0px 0px 300px 0px; transform:rotate(320deg);border-radius: 0px 0px 2000px 0px; border-right: 80px solid #75cd57; border-bottom: 80px solid #75cd57;}
#fancyswiper .custom-navigation{ position: absolute;top: 800px;left: 10%; width:200px;} 
#fancyswiper .swiper-slide-first.swiper-slide-active {  opacity: 1; /* First slide should be fully visible without fading */ }
#fancyswiper  .swiper-slide {  opacity: 0; /* Initial opacity for the fading effect */transition: opacity 1s ease-in-out; /* Smooth transition for the fading effect */ }
#fancyswiper  .swiper-slide-active {opacity: 1; /* Active slide should be fully visible */}
#fancyswiper .swiper-button-prev:after, #fancyswiper .swiper-rtl .swiper-button-next:after {display:none !important;}
#fancyswiper .swiper-button-next:after, #fancyswiper .swiper-rtl .swiper-button-prev:after {display:none !important;}
#fancyswiper  .swiper-button-prev, #fancyswiper .swiper-button-next {width:auto !important; left:auto !important; right:auto !important;}
#fancyswiper .swiper-button-next {left:150px!important; }
#fancyswiper ul {list-style:disc; padding-left: 30px;}
#fancyswiper ol {list-style: decimal; padding-left: 30px;}
#fancyswiper li {padding-top:30px;}

/* sewage */
#fancyswiper .sewage ul {margin-top: 150px;}
.curvedbg.sewage {
  border-bottom: 80px solid #404041 !important;
  border-right: 80px solid #404041 !important;
}
img.smallimage1.sewage, img.smallimage2.sewage ,img.smallimage3.sewage {
  display: none;
}

/* projects */
#projects .swiper-slide {
    opacity: 1;
    transition:0.1s;
    /* filter: blur(4px); */
}
#projects .swiper-slide-active {
  opacity: 1;
  transition:0.2s;
  filter: blur(0px);
}
#projects .custom-navigation{ z-index:40; width:200px; height:60px;} 
#projects  .swiper-button-prev:after, #projects .swiper-rtl .swiper-button-next:after {display:none;}
#projects .swiper-button-next:after, #projects .swiper-rtl .swiper-button-prev:after {display:none;}
#projects  .swiper-button-prev, #projects .swiper-button-next {width:auto !important; left:auto !important; right:auto !important; top:30px !important}
#projects  .swiper-button-prev {left:10px !important}
#projects  .swiper-button-next {right:10px !important}
.item .round-icon img {
  background: #FFF;
  border: 4px solid #BCBCBC;
  scale:0.95;
  transition:0.3s;
}
.item.active .round-icon img {
  background: #E2FCE2;
  border: 4px solid #3AAA01;
  scale:1.1;
  transition:0.3s;
}

.item h3 {color:#BCBCBC}
.item.active h3 {color:#000}
.industry-text {display:none}
.industry-text.active {display:block;}

/* homepage */
/* swiper effects */
#homeswiper .swiper-pagination {display:none}
#homeswiper .swiper-slide-active #swiperimage { transform-origin: center;
  transform: scale(1);
  animation: scalebackground 5s ease-in-out forwards; 
  animation-delay: 0s; display:Block !important}
  #homeswiper .swiper-button-next {display:none}
  #homeswiper .swiper-button-prev {display:none}

  h3#orpstory:before, h3#orpstory:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 47%;
    height: 2px;
    content: '\a0';
    background-color: #A0A0A0;
}
h3#orpstory:before {
    margin-left: -50%;
    text-align: right;
}
h3#orpstory:after {margin-left:3%}
/* video player */
#orpstory .video-react-big-play-button {
  display: none;
}
#orpstory .video-container {
  min-height: 350px; /* Set your desired minimum height */
  overflow: hidden; /* Hide any overflow beyond the container */
  display: flex;
  justify-content:center; /* Align the video to the right */
  align-items: center; 
}
#orpstory .video-react {
  margin-left: auto; /* Push the video to the right */
  transition: margin-left 0.5s; /* Add a smooth transition effect */
}
#orpstory .video-react-video {
  width: 100%;
}

/* Ensure the video fills its container width */
#orpstory .video-react .video-react-control-bar {
  width: 100%;
}

#orpstory video.video-react-video {
  clip-path: inset(3px 3px);
}

/* styling pages */
.mold svg.text-\[\#D9D9D9\]:hover {color: #fff;}
.soil svg.text-\[\#D9D9D9\]:hover {color: #404041;}

#fancyswiper .bg-cover.bg-right.active { transform-origin: center;
  transform: scale(1);
  animation: scalebackground 7s ease-in-out forwards; 
  animation-delay: 0s;}
  
/*
.smallimage1 { transform-origin: center;
  transform: scale(0);
  animation: scaleImage 0.6s ease-in-out forwards; 
  animation-delay: 0s;}
.smallimage2 { transform-origin: center;
 transform: scale(0);
 animation: scaleImage 0.6s ease-in-out forwards; 
 animation-delay: 0.4s;}
.smallimage3 { transform-origin: center;
  transform: scale(0);
  animation: scaleImage 0.6s ease-in-out forwards; 
  animation-delay: 0.8s;}
  */

  @media only screen and (max-width:1279px){
  #fancyswiper .custom-navigation{left: 0%;top: 700px;} 
  #fancyswiper .curvedbg.mold {
 left: -700px;
}
#fancyswiper .curvedbg.sewage {
left: -1000px;
}
}

  @media only screen and (max-width:1023px){
    .navigate .item .item-button {
      background:transparent !important;
      color: #404041 !important;
      border-width: 1px !important;
  }
    .navigate .item {display:none}
   .navigate .item.active {display:flex}
   #homeswiper .swiper-pagination {bottom:120px; display:block}
   #homeswiper .swiper-pagination-bullet {width:10px; height:10px;
    opacity: 0.8;
    background: #e2fce2;}
   #homeswiper .swiper-pagination-bullet-active {
     background-color: #3aaa01; opacity:1; /* Change the active bullet color */
   }
   #homeswiper .swiper-button-next {display:block; right:10px !important; color: #3aaa01;}
   #homeswiper .swiper-button-prev {display:block; left:10px;color: #3aaa01;}
   #fancyswiper .curvedbg.mold {
    left: -880px;
   }
   .mobile-nav {display:block;-webkit-tap-highlight-color: transparent;}
   #fancyswiper .curvedbg.sewage {
    left: -1300px;
}
  }

  @media only screen and (max-width:639px){
    #projects.swiper-3d .swiper-wrapper {
      scale: 1.6;
  }
    .item .round-icon img {
      scale:1;
      transition:0.3s;
    }
    .item.active .round-icon img {
      scale:1;
      transition:0.3s;
    }
    .fade-element {
      max-height:350px
    }
    .fade-in {max-height:350px}
    .video-react-controls-enabled.video-react-paused.video-react-user-active.video-react-workinghover.video-react {
      height: 350px !important;
      width: 980px !important;
  }
  video.video-react-video {
    height: 350px !important;
}
    #fancyswiper .curvedbg.soil {
      transform: rotate(215deg);
      border-radius: 12000px 150px 5000px 25000px;
      height: 1400px;
      left: -500px;
  }
    #fancyswiper .sewage .cust-sw {top:180px}
  #fancyswiper .sewage ul {margin-top: 50px;}
  #fancyswiper .curvedbg {border-right: 10px solid #75cd57; border-bottom: 10px solid #75cd57;}
  #fancyswiper .sewage ul {padding-left:0px; padding-right:10px;}
  #fancyswiper .curvedbg.mold {
    transform: rotate(61deg);
    left: -495px;
    border-top: 26px solid #75cd57;
    border-left: 26px solid #75cd57;
    border-right: 26px solid #75cd57;
    border-bottom: 26px solid #75cd57;
    top: 450px;
    width: 1255px;
}
#fancyswiper .curvedbg.soil {
  transform: rotate(61deg);
  left: -495px;
  border-top: 26px solid #75cd57;
  border-left: 26px solid #75cd57;
  border-right: 26px solid #75cd57;
  border-bottom: 26px solid #75cd57;
  top: 450px;
  width: 1255px;
}
#fancyswiper .curvedbg.sewage {
  border-radius: 21000px 150px 5000px 25000px;
  transform: rotate(61deg);
  left: -490px;
  border-top: 26px solid #75cd57;
  border-left: 26px solid #75cd57;
  border-right: 26px solid #75cd57;
  border-bottom: 26px solid #75cd57;
  top: 510px;
  height: 1320px;
  width: 1355px;
}
.swiper.swiper-initialized.swiper-horizontal.sewage{
  width: 95%;
}
#fancyswiper .sewage .sm-title {padding-bottom:0.5rem !important;}
#fancyswiper .sewage .swiper-inner {padding-left:0px !important}
#fancyswiper li {padding-top:10px;}
#fancyswiper .custom-navigation {
  top: 800px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.mold .sm-title:before {
  content: 'Mold';
  font-size: 30px;
  color: #75cd57;
  font-weight: bold;
  margin-left: 28px;
}
.soil .sm-title:before {
  content: 'Soil';
  font-size: 30px;
  color: #75cd57;
  font-weight: bold;
  margin-left: 28px;
}
.sewage .sm-title:before {
  content: 'Sewage';
  font-size: 30px;
  color: #404041;
  font-weight: bold;
  margin-left: 20px;
}
#fancyswiper .sewage ul {
   margin-top: 0px; 
   padding-top:0px;
}
}
@media only screen and (min-width:300px) and (max-width:540px){
  #fancyswiper .curvedbg.sewage {top:480px; left:-590px}
  #fancyswiper li {font-size:0.9rem !important;}
  #fancyswiper .swiper-inner {padding:10px !important}
}