@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-regular.otf") format("opentype");
  font-weight:normal;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-light.otf") format("opentype");
  font-weight:light;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-bold.otf") format("opentype");
  font-weight:bold;
}
@font-face {
  font-family: 'ABC';
  src: url("../../public/media/fonts/abc-diatype-italic.otf") format("opentype");
  font-style:italic
}

/* menu fix for no underline on last element */
.bm-item-list a:last-child {border-bottom:none !important;}
.bm-item-list a.active {font-weight:bold; background:rgba(255, 255, 255, 0.10);}
.bm-item-list a span { margin: 0px 1em; padding: 14px 10px; display: block; }
.bm-item-list a{ color: #fff; font-size: 20px; border-bottom: 1px solid #fff; margin: 0px 20px;}

/* fancy swiper */
#fancyswiper .item.active {opacity:1; transition:1s}
#fancyswiper .item {opacity:0; transition:1s}
#fancyswiper .curvedbg {border-radius:0px 0px 300px 0px; transform:rotate(320deg);border-radius: 0px 0px 2000px 0px; border-right: 80px solid #75cd57; border-bottom: 80px solid #75cd57;}
#fancyswiper .custom-navigation{    position: absolute; bottom: 200px; left: 10%;} #fancyswiper .swiper-slide-first.swiper-slide-active {  opacity: 1; /* First slide should be fully visible without fading */ }
#fancyswiper  .swiper-slide {  opacity: 0; /* Initial opacity for the fading effect */transition: opacity 1s ease-in-out; /* Smooth transition for the fading effect */ }
#fancyswiper  .swiper-slide-active {opacity: 1; /* Active slide should be fully visible */}
#fancyswiper  #fancyswiper  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {display:none;}
#fancyswiper .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display:none;}
#fancyswiper  .swiper-button-prev, .swiper-button-next {width:auto !important; left:auto !important; right:auto !important;}

/* styling pages */
.mold svg.text-\[\#D9D9D9\]:hover {color: #fff;}
.soil svg.text-\[\#D9D9D9\]:hover {color: #404041;}
      
